node_modules
*/node_modules

client/src/repositories/graphql.ts
client/.next

server/images
server/logs
server/tmp
server/dist
server/src/graphqls/resolvers/type.ts

terraform/environments/.terraform
terraform/environments/.terraform.lock.hcl